<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" v-model="content">
    <h4 v-bind="content"></h4>
    <hr>
    <input type="text" v-model="title">
    <input type="text" v-model="title">
    <div v-bind="title">这里也会更新</div>
    <script>
        const els = document.querySelectorAll('[v-model]');
        els.forEach(item => {
            item.addEventListener('keyup', function () {
                proxy(this.getAttribute('v-model'), this.value)
            })
        })
        function proxy(property, value) {
            document.querySelectorAll(`[v-model="${property}"]`)
                .forEach(item => {
                    item.value = value
                })
            document.querySelectorAll(`[v-bind="${property}"]`)
                .forEach(item => {
                    item.innerHTML = value
                })
        }
    </script>
</body>

</html>